<app-sidebar></app-sidebar>
<div class="col" id="infoSeccion">
<section style="background-color: #eee;">
	<div class="container py-5">
	  <div class="row">
		<div class="col-lg-4">
		  <div class="card mb-4">
			<div class="card-body text-center">
			  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
				class="rounded-circle img-fluid" style="width: 150px;">
			  <h5 class="my-3">{{this.userData.firstname}} {{this.userData.lastname}}</h5>
			  <p class="text-muted mb-1">Usuario</p>
			  <p class="text-muted mb-4">{{this.userData.neighborhood}}, Ciudad de México</p>
			  <div class="d-flex justify-content-center mb-2">
				<button type="button" class="btn btn-outline-primary ms-1" (click)="authService.SignOut()">Cerrar Sesión</button>
				<button type="button" class="btn btn-outline-danger ms-1" (click)="authService.DeleteThisAccount()">Eliminar cuenta</button>
			  </div>
			</div>
		  </div>
		  <div class="card mb-4 mb-lg-0">
			<div class="card-body p-0">
			  <ul class="list-group list-group-flush rounded-3">
				<li class="list-group-item d-flex justify-content-between align-items-center p-3">
					<i class="bi bi-linkedin"></i>
				  <p class="mb-0">https://www.linkedin.com/</p>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center p-3">
					<i class="bi bi-facebook"></i>
				  <p class="mb-0">Facebook</p>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center p-3">
					<i class="bi bi-whatsapp"></i>
				  <p class="mb-0">Cellphone</p>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
		<div class="col-lg-8" *ngIf="editComponents; else readComponent">
		  <div class="card mb-4">
			<div class="card-body">
				<form class="needs-validation">
				<div class="row">
					<div class="col-sm-3">
					<p class="mb-0">Nombre(s)</p>
					</div>
					<div class="col-sm-9">
					<input class="form-control" value="{{this.userData.firstname}}" #userFirstName required/>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
					<p class="mb-0">Apellido(s)</p>
					</div>
					<div class="col-sm-9">
					<input class="form-control" value="{{this.userData.lastname}}" #userLastName required/>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
					<p class="mb-0">Correo</p>
					</div>
					<div class="col-sm-9">
						<input class="form-control"  value="{{this.userData.email}}" #userEmail required/>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
					<p class="mb-0">Colonia</p>
					</div>
					<div class="col-sm-9">
						<select class="form-select" id="neighborhood" value="{{this.userData.neighborhood}}" #userNeighborhood required >
							<option value="">Escoger...</option>
							<option>San Bartolo el Chico</option>
							<option>Coyoacán</option>
							<option>San Miguel Chapultepec</option>
							<option>San Miguel Topilejo</option>
							<option>San Miguel Xico</option>
							<option>Tepepan</option>
							<option>San Miguel Totolapan</option>
							<option>Polanco</option>
							<option>Acatlán</option>
							<option>Campestre Churubusco</option>
						</select>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
					<p class="mb-0">Codigo Postal</p>
					</div>
					<div class="col-sm-9">
					<input class="form-control"  value="{{this.userData.zipcode}}" #userZipCode required/>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-3">
					<p class="mb-0">Dirección</p>
					</div>
					<div class="col-sm-9">
					<input class="form-control"  value="{{this.userData.address}}" #userAddress required />
					</div>
				</div>
			  	<div class="d-flex justify-content-center mb-2">
					<button type="button" class="btn btn-outline-primary ms-1" (click)="authService.UpdateUserData(userFirstName.value, userLastName.value, userEmail.value, userAddress.value, userNeighborhood.value, userZipCode.value)">Guardar</button>
					<button type="button" class="btn btn-outline-secondary ms-1" (click)="editComponentsProfile()">Cancelar</button>
				</div>
				</form>
			</div>
		  </div>
		  <div class="row">
			<div class="col">
			  <div class="card mb-4 mb-md-0">
				<div class="card-body">
				  <p class="mb-4"><span class="text-primary font-italic me-1">Insigneas</span> obtenidas
				  </p>
				  <p class="mb-1" style="font-size: .77rem;">Número de noticias subidas</p>
				  <div class="progress rounded" style="height: 5px;">
					<div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
					  aria-valuemin="0" aria-valuemax="100"></div>
				  </div>
				  <p class="mt-4 mb-1" style="font-size: .77rem;">Número de quejas reportadas</p>
				  <div class="progress rounded" style="height: 5px;">
					<div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
					  aria-valuemin="0" aria-valuemax="100"></div>
				  </div>
				  <p class="mt-4 mb-1" style="font-size: .77rem;">Comentarios escritos</p>
				  <div class="progress rounded" style="height: 5px;">
					<div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
					  aria-valuemin="0" aria-valuemax="100"></div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<ng-template #readComponent >
			<div class="col-lg-8">
				<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0">Nombre completo</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{this.userData.firstname}} {{this.userData.lastname}}</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0">Correo</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{this.userData.email}}</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0">Colonia</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{this.userData.neighborhood}}</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0">Codigo Postal</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{this.userData.zipcode}}</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<p class="mb-0">Dirección</p>
						</div>
						<div class="col-sm-9">
							<p class="text-muted mb-0">{{this.userData.address}}</p>
						</div>
					</div>
					<div class="d-flex justify-content-center mb-2 mt-3">
						<button type="button" class="btn btn-outline-primary mt-2" (click)="editComponentsProfile()">Editar datos de contacto</button>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card mb-4 mb-md-0">
							<div class="card-body">
								<p class="mb-4"><span class="text-primary font-italic me-1">Historial de
										usuario</span>
								</p>
								<p class="mb-1" style="font-size: .77rem;">Número de noticias registradas:
									{{contadorNoticias}}</p>
								<div class="progress rounded" style="height: 5px;">
									<div class="progress-bar" *ngIf="contadorNoticias == 1" role="progressbar"
										style="width: 10%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-success"
										*ngIf="contadorNoticias > 1 && contadorNoticias <= 2" role="progressbar"
										style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-info"
										*ngIf="contadorNoticias > 2 && contadorNoticias <= 3" role="progressbar"
										style="width: 30%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-warning"
										*ngIf="contadorNoticias > 3 && contadorNoticias <= 4" role="progressbar"
										style="width: 40%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-danger" *ngIf="contadorNoticias == 5"
										role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorNoticias == 6"
										role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorNoticias == 7"
										role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorNoticias == 8"
										role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorNoticias == 9"
										role="progressbar" style="width: 90%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorNoticias == 10"
										role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
								<p class="mt-4 mb-1" style="font-size: .77rem;">Número de quejas reportadas:
									{{contadorQuejas}}</p>
								<div class="progress rounded" style="height: 5px;">
									<div class="progress-bar" *ngIf="contadorQuejas == 1" role="progressbar"
										style="width: 10%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-success"
										*ngIf="contadorQuejas == 2" role="progressbar"
										style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-info"
										*ngIf="contadorQuejas == 3" role="progressbar"
										style="width: 30%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-warning"
										*ngIf="contadorQuejas == 4" role="progressbar"
										style="width: 40%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									</div>
									<div class="progress-bar bg-danger" *ngIf="contadorQuejas == 5"
										role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorQuejas == 6"
										role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorQuejas == 7"
										role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorQuejas == 8"
										role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorQuejas == 9"
										role="progressbar" style="width: 90%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
									<div class="progress-bar bg-danger" *ngIf="contadorQuejas == 10"
										role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
								<div class="col-12" *ngIf="contadorTotal <=3">
									<p class="mt-4 mb-1" style="font-size: .77rem;">Nivel de insignea: Participador
										<strong>básico</strong></p>
									<img src="../../assets/img/nivel1.jpg" style="margin-left: 40%;  border-radius: 50%;" alt=""
										width="70" height="auto">
								</div>
								<div class="col-12" *ngIf="contadorTotal >3 && contadorTotal <=7">
									<p class="mt-4 mb-1" style="font-size: .77rem;">Nivel de insignea: Participador
										<strong>intermedio</strong></p>
									<img src="../../assets/img/nivel2.jpg" style="margin-left: 40%;  border-radius: 50%;" alt=""
										width="70" height="auto">
								</div>
								<div class="col-12" *ngIf="contadorTotal >=8">
									<p class="mt-4 mb-1" style="font-size: .77rem;">Nivel de insignea: Participador
										<strong>experto</strong></p>
									<img src="../../assets/img/nivel3.jpg" style="margin-left: 40%;  border-radius: 50%;" alt=""
										width="70" height="auto">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	  </div>
	</div>
  </section>
</div>