<div class="row" style="display: inline-flex;" id="sidebar">
	<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<img class="logo" src="../../assets/img/logo.png">
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="/main" class="nav-link link-dark" aria-current="page">
					<i class="bi bi-hand-index-thumb"></i>
					Inicio
				</a>
			</li>
			<li>
				<a href="/noticias" class="nav-link link-dark">
					<i class="bi bi-newspaper"></i>
					Noticias
				</a>
			</li>
			<li>
				<a href="/estadisticas" class="nav-link link-dark">
					<i class="bi bi-bar-chart"></i>
					Estadisticas
				</a>
			</li>
			<li>
				<a href="/reportes" class="nav-link link-dark">
					<i class="bi bi-file-earmark-bar-graph"></i>
					Reportes
				</a>
		</ul>
		<hr>
		<div class="dropdown">
			<a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
				data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="" width="32" height="32" class="rounded-circle me-2">
				<strong>{{this.userData.firstname}} {{this.userData.lastname}}</strong>
			</a>
			<ul class="dropdown-menu text-small shadow">
				<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#noticiaModal">
						Nueva noticia...</a></li>
				<li><a class="dropdown-item" data-bs-toggle="modal" (click)="anadirQuejaModal()"
						data-bs-target="#quejaModal">
						Nueva queja...</a></li>
				<li><a class="dropdown-item" href="/perfil">Perfil</a></li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li><a class="dropdown-item" (click)="authService.SignOut()">Cerrar Sesion</a></li>
			</ul>
		</div>
	</div>
</div>
<!--Modal para las noticias-->
<div class="modal fade" id="noticiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<app-form-noticias [noticia]="noticia"></app-form-noticias>
		</div>
	</div>
</div>
<!--Modal para las quejas-->
<div class="modal fade" id="quejaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<app-form-quejas [queja]="queja"></app-form-quejas>
		</div>
	</div>
</div>