
<!--Icono de paloma verde (Exito) y triangulo warning-->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
		<path
			d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
	</symbol>
</svg>
<!--Modal de estatus correcto para la alta de las noticias-->
<div class="modal" id="noticiaAlta">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Estatus de solicitud</h5>
				<a href="/listadoNoticias">
					<button type="button" class="btn-close" href="/" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</a>
			</div>
			<div class="modal-body">
				<div class="col-12 alert alert-success  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"
						style="float: left;">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<div>
						Noticia, en espera de aprobación.
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/listadoNoticias">
					<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
				</a>
			</div>
		</div>
	</div>
</div>

<!--Modal de estatus correcto para la alta de las quejas-->
<div class="modal" id="quejaAlta">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Estatus de solicitud</h5>
				<a href="/listadoQuejas">
					<button type="button" class="btn-close" href="/" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</a>
			</div>
			<div class="modal-body">
				<div class="col-12 alert alert-success  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"
						style="float: left;">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<div>
						Queja, en espera de aprobación.
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/listadoQuejas">
					<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
				</a>
			</div>
		</div>
	</div>
</div>
<!--Modal de estatus correcto de edición de las quejas-->

<!--Modal de estatus correcto para la edición de las quejas-->
<div class="modal" id="quejaEditada">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Estatus de solicitud</h5>
				<a href="/listadoQuejas">
					<button type="button" class="btn-close" href="/listadoQuejas" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</a>
			</div>
			<div class="modal-body">
				<div class="col-12 alert alert-success  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"
						style="float: left;">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<div>
						Queja, editada  exitosamente
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/listadoQuejas">
					<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
				</a>
			</div>
		</div>
	</div>
</div>
<!--Modal de estatus correcto de edición de las noticias-->
<div class="modal" id="noticiaEditada">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Estatus de solicitud</h5>
				<a href="/listadoNoticias">
					<button type="button" class="btn-close" href="/listadoNoticias" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</a>
			</div>
			<div class="modal-body">
				<div class="col-12 alert alert-success  align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"
						style="float: left;">
						<use xlink:href="#check-circle-fill" />
					</svg>
					<div>
						Noticia, editada  exitosamente
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="/listadoNoticias">
					<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
				</a>
			</div>
		</div>
	</div>
</div>
<!--Inicia sidebar-->
<div class="row" style="display: inline-flex;" id="sidebar">
	<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" data-title="¡Bienvenidx!" data-intro="Esta guía interactiva te ayudara a entender mejor SKILIKET">
			<img class="logo" src="../../assets/img/logo.svg">
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item" data-title="Intro" data-intro="En esta sección te platicamos con mejor detalle el Objetivo de Skiliket y puedes repetir esta guía.">
				<a href="/main" class="nav-link link-dark" aria-current="page">
					<i class="bi bi-hand-index-thumb"></i>
					Inicio
				</a>
			</li>
			<li>
				<a href="/noticias" class="nav-link link-dark" data-title="Eventos" data-intro="Conoce los eventos que afectan tu comunidad en esta sección.">
					<i class="bi bi-newspaper"></i>
					Eventos
				</a>
			</li>
			<li *ngIf="(this.userData.userType == 'Administrador' || this.userData.userType == 'Superadministrador') && (this.contadorTotal > 0)">
				<a href="/confirmarEventos" class="nav-link link-dark">
					<i class="bi bi-calendar2-check"></i>
					Confirmar eventos {{this.contadorTotal}}
				</a>
			</li>
			<li *ngIf="(this.userData.userType == 'Superadministrador')">
				<a href="/admin/cuentas" class="nav-link link-dark">
					<i class="bi bi-people"></i>
					Administrar usuarios
				</a>
			</li>
			<li>
				<a href="/estadisticas/Enero" class="nav-link link-dark" data-title="Estadisticas" data-intro="Ingresa aquí para analizar estadisticas generada por tu comunidad. ¡Igual puedes descargar para compartir!">
					<i class="bi bi-bar-chart"></i>
					Estadisticas
				</a>
			</li>
			<li data-title="Reportes" data-intro="En esta sección puedes ver estadisticas sobre los reportes generados">
				<a href="/reportes" class="nav-link link-dark">
					<i class="bi bi-file-earmark-bar-graph"></i>
					Reportes
				</a>
			</li>
		</ul>
		<hr>
		<div class="dropdown" data-title="Mi Perfil" data-intro="Crea Eventos y Reportes. Igualmente puedes actualizar y revisar tu información.">
			<a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
				data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="" width="32" height="32" class="rounded-circle me-2">
				<strong>{{this.userData.firstname}} {{this.userData.lastname}}</strong>
			</a>
			<ul class="dropdown-menu text-small shadow">
				<li><a class="dropdown-item" data-bs-toggle="modal" (click)="anadirNoticiaModal()" data-bs-target="#noticiaModal">
						Nueva noticia...</a></li>
				<li><a class="dropdown-item" data-bs-toggle="modal" (click)="anadirQuejaModal()"
						data-bs-target="#quejaModal">
						Nuevo Reporte...</a></li>
				<li><a class="dropdown-item" href="/perfil">Perfil</a></li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li><a class="dropdown-item" (click)="authService.SignOut()">Cerrar Sesion</a></li>
			</ul>
		</div>
	</div>
</div>
<!--Modal para las noticias-->
<div class="modal fade" id="noticiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<app-form-noticias [noticia]="noticia" *ngIf="ActivarAltaNoticia"></app-form-noticias>
		</div>
	</div>
</div>
<!--Modal para las quejas-->
<div class="modal fade" id="quejaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<app-form-quejas [queja]="queja" *ngIf="ActivarAltaQueja"></app-form-quejas>
		</div>
	</div>
</div>
