<app-sidebar></app-sidebar>
<div class="col" id="infoSeccion"  class="select">
	<p class="text-center fw-bold">Gráfico de Pareto de quejas ciudadana</p>
	<div class="form-floating mb-3">
		<select class="form-select" id="seleccionProceso" name="macroproceso"
			aria-label="Default select example" onchange="location = this.value;">
			<option>Enero</option>
			<option>Febrero</option>
			<option>Marzo</option>
			<option>Abril</option>
			<option>Mayo</option>
			<option>Junio</option>
			<option>Julio</option>
			<option>Agosto</option>
			<option>Septiembre</option>
			<option>Octubre</option>
			<option>Noviembre</option>
			<option>Diciembre</option>
		</select>
		<label for="floatingSelect">Seleccione el mes del cual deseas ver el pareto de quejas
		</label>
	</div>
	<div id="container" class="pareto"></div>
	<p class="highcharts-description">
		<strong style="margin-left: 45%;">CAUSAS</strong>
	</p>
</div>
